<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaming.mapper.BookMapper">

	<select id="selectBooksByExample"  resultType="com.jiaming.entity.Book">
		select * from  book  
		<where>
			<if test="bname!=null and  bname!=''">
				<bind name="bnameval" value="'%'+bname+'%'"/>
				bname  like  #{bnameval}
			</if>
			<if test="author!=null and author!=''">
				<bind name="authorval" value="'%'+author+'%'"/>
				and  author  like   #{authorval}
			</if>
			<if test="press!=null and  press!=''">
				<bind name="pressval" value="'%'+press+'%'"/>
				and  press   like    #{pressval}
			</if>
			<if test="cid!=null and  cid!=''">
				and   cid = #{cid}
			</if>
		</where>
	</select>

	<!-- 高级搜索 -->
	<select id="selectBooksByGj"   resultType="com.jiaming.entity.Book">
		select  *  from   book  
		<where>
			<if test="bname!=null and  bname!=''">
				<bind name="bnameval" value="'%'+bname+'%'"/>
				bname  like  #{bnameval}
			</if>
			<if test="author!=null and author!=''">
				<bind name="authorval" value="'%'+author+'%'"/>
				and  author  like   #{authorval}
			</if>
			<if test="press!=null and  press!=''">
				<bind name="pressval" value="'%'+press+'%'"/>
				and  press   like    #{pressval}
			</if>
		</where>
	</select>

	<!-- 查询 -->
	<select id="selectBooksLikeBnameOrAuthor"
		resultType="com.jiaming.entity.Book">
		<!-- 可能是 书名 书名 可能是 作者 作者 可能是 书名 作者 或者是 作者 书名 -->
		<bind name="word1val" value="'%'+keyword1+'%'" />
		<bind name="word2val" value="'%'+keyword2+'%'" />

		select * from book
		where
		bname like #{word1val} or bname like #{word2val}
		or
		author like #{word1val}
		or author like #{word2val}
	</select>
	
	<!-- 查询 -->
	<select id="selectBooksLikeBnameOrAuthorOrPress"
		resultType="com.jiaming.entity.Book">

		<bind name="wordval" value="'%'+word+'%'" />
		select * from book
		where
		bname like #{wordval}
		or
		author like #{wordval}
		or
		press like #{wordval}
	</select>

	<!-- 左边条目查询书 -->
	<select id="selectBooksByCid"
		resultType="com.jiaming.entity.Book">
		select * from book where cid = #{cid}
	</select>

	<resultMap id="BaseResultMap" type="com.jiaming.entity.Book">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		<id column="bid" jdbcType="CHAR" property="bid" />
		<result column="bname" jdbcType="VARCHAR" property="bname" />
		<result column="author" jdbcType="VARCHAR" property="author" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="currPrice" jdbcType="DECIMAL"
			property="currprice" />
		<result column="discount" jdbcType="DECIMAL"
			property="discount" />
		<result column="press" jdbcType="VARCHAR" property="press" />
		<result column="publishtime" jdbcType="CHAR"
			property="publishtime" />
		<result column="edition" jdbcType="INTEGER" property="edition" />
		<result column="pageNum" jdbcType="INTEGER" property="pagenum" />
		<result column="wordNum" jdbcType="INTEGER" property="wordnum" />
		<result column="printtime" jdbcType="CHAR" property="printtime" />
		<result column="booksize" jdbcType="INTEGER"
			property="booksize" />
		<result column="paper" jdbcType="VARCHAR" property="paper" />
		<result column="cid" jdbcType="CHAR" property="cid" />
		<result column="image_w" jdbcType="VARCHAR" property="imageW" />
		<result column="image_b" jdbcType="VARCHAR" property="imageB" />
		<result column="orderBy" jdbcType="INTEGER" property="orderby" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		delete from book
		where bid = #{bid,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.jiaming.entity.Book">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		insert into book (bid, bname, author,
		price, currPrice, discount,
		press, publishtime, edition,
		pageNum, wordNum, printtime,
		booksize, paper, cid,
		image_w, image_b, orderBy
		)
		values (#{bid,jdbcType=CHAR}, #{bname,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR},
		#{price,jdbcType=DECIMAL}, #{currprice,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL},
		#{press,jdbcType=VARCHAR}, #{publishtime,jdbcType=CHAR},
		#{edition,jdbcType=INTEGER},
		#{pagenum,jdbcType=INTEGER}, #{wordnum,jdbcType=INTEGER}, #{printtime,jdbcType=CHAR},
		#{booksize,jdbcType=INTEGER}, #{paper,jdbcType=VARCHAR},
		#{cid,jdbcType=CHAR},
		#{imageW,jdbcType=VARCHAR}, #{imageB,jdbcType=VARCHAR}, #{orderby,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.jiaming.entity.Book">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		update book
		set bname = #{bname,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		price = #{price,jdbcType=DECIMAL},
		currPrice = #{currprice,jdbcType=DECIMAL},
		discount = #{discount,jdbcType=DECIMAL},
		press = #{press,jdbcType=VARCHAR},
		publishtime = #{publishtime,jdbcType=CHAR},
		edition = #{edition,jdbcType=INTEGER},
		pageNum = #{pagenum,jdbcType=INTEGER},
		wordNum = #{wordnum,jdbcType=INTEGER},
		printtime = #{printtime,jdbcType=CHAR},
		booksize = #{booksize,jdbcType=INTEGER},
		paper = #{paper,jdbcType=VARCHAR},
		cid = #{cid,jdbcType=CHAR},
		image_w = #{imageW,jdbcType=VARCHAR},
		image_b = #{imageB,jdbcType=VARCHAR},
		orderBy = #{orderby,jdbcType=INTEGER}
		where bid = #{bid,jdbcType=CHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		select bid, bname, author, price, currPrice, discount, press,
		publishtime, edition,
		pageNum, wordNum, printtime, booksize, paper, cid, image_w, image_b, orderBy
		from book
		where bid = #{bid,jdbcType=CHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		select bid, bname, author, price, currPrice, discount, press,
		publishtime, edition,
		pageNum, wordNum, printtime, booksize, paper, cid, image_w, image_b, orderBy
		from book
	</select>
</mapper>