<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaming.mapper.CartitemMapper">

	<delete id="deleteByUidAndInBids">
		delete  from  cartitem
		
		where 
		
		uid =  #{uid}
		
		and  
		
		bid   in   
		<!-- map  传入的都是 key的  名称 -->
		<foreach collection="bids"  open="("   close=")"  separator=","  item="bid">
			#{bid}
		</foreach>
	</delete>

	<select id="selectCartPovosInCartitems"
		resultMap="CartBookPovoMap">
		SELECT * FROM cartitem, book

		WHERE

		cartitem.bid = book.bid

		AND

		cartitem.cartitemId

		IN
		<foreach collection="list" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</select>

	<update id="updateQuantityByCaritemid">
		update cartitem

		set

		quantity = #{quantity}

		where

		cartitemId = #{cartitemid}

	</update>

	<delete id="deleteByBatchInCartitemids">
		delete from cartitem
		<where>
			cartitemId in
			<foreach collection="list" open="(" close=")" separator=","
				item="id">

				#{id}

			</foreach>
		</where>

	</delete>

	<select id="selectCartitemByUidAndBid"
		resultType="com.jiaming.entity.Cartitem">

		select * from cartitem
		where

		uid= #{uid}
		and
		bid = #{bid}
	</select>

	<resultMap type="povos.CartPovo" id="CartBookPovoMap"
		extends="com.jiaming.mapper.BookMapper.BaseResultMap">
		<association property="cartitem"
			javaType="com.jiaming.entity.Cartitem">
			<id column="cartitemId" property="cartitemid" jdbcType="CHAR" />
			<result column="quantity" property="quantity"
				jdbcType="INTEGER" />
			<result column="bid" property="bid" jdbcType="CHAR" />
			<result column="uid" property="uid" jdbcType="CHAR" />
			<result column="orderBy" property="orderby" jdbcType="INTEGER" />
		</association>
	</resultMap>
	<select id="selectCartPovosByUid" resultMap="CartBookPovoMap">
		SELECT
		book.*,cartitem.* FROM cartitem , book ,`user`

		WHERE
		cartitem.bid =
		book.bid
		AND
		cartitem.uid = `user`.uid
		AND
		cartitem.uid = #{uid}
	</select>


	<resultMap id="BaseResultMap"
		type="com.jiaming.entity.Cartitem">
    <!-- WARNING - @mbggenerated This element is automatically generated by MyBatis 
			Generator, do not modify. This element was generated on Tue Jun 23 15:02:12 
			CST 2020. -->
		<id column="cartItemId" jdbcType="CHAR" property="cartitemid" />
		<result column="quantity" jdbcType="INTEGER"
			property="quantity" />
		<result column="bid" jdbcType="CHAR" property="bid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="orderBy" jdbcType="INTEGER" property="orderby" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		delete from cartitem
		where cartItemId = #{cartitemid,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.jiaming.entity.Cartitem">
		<selectKey keyProperty="cartitemid" order="BEFORE"
			resultType="string">
			select replace(uuid(),"-","") from dual
		</selectKey>
		insert into cartitem (cartitemId, quantity, bid,
		uid, orderBy)
		values
		(#{cartitemid,jdbcType=CHAR}, #{quantity,jdbcType=INTEGER},
		#{bid,jdbcType=CHAR},
		#{uid,jdbcType=CHAR},
		#{orderby,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.jiaming.entity.Cartitem">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		update cartitem
		set quantity = #{quantity,jdbcType=INTEGER},
		bid =
		#{bid,jdbcType=CHAR},
		uid = #{uid,jdbcType=CHAR},
		orderBy =
		#{orderby,jdbcType=INTEGER}
		where cartItemId =
		#{cartitemid,jdbcType=CHAR}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		select cartItemId, quantity, bid, uid, orderBy
		from cartitem
		where
		cartItemId = #{cartitemid,jdbcType=CHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Jun 23 
			15:02:12 CST 2020. -->
		select cartItemId, quantity, bid, uid, orderBy
		from cartitem
	</select>
</mapper>