<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaming.mapper.OrderMapper">

	<update id="updateOrderByOidForStatus">
		update   `order`
		set  
		status =  #{status}
		where 
		oid = #{oid}
	</update>

	<select id="selectOrderAndOrderItemsByOid"  resultMap="OrderDescPovoMap">
		select   *  from  `order`,  orderitem 
		where  
		`order`.oid =  orderitem.oid
		and
		`order`.oid = #{oid}
	</select>
	
	<resultMap type="povos.OrderDescPovo" id="OrderDescPovoMap" 
			 extends="com.jiaming.mapper.OrderitemMapper.BaseResultMap">	
		<association property="order"  javaType="com.jiaming.entity.Order">
			<id column="oid" property="oid" jdbcType="CHAR" />
			<result column="ordertime" property="ordertime" jdbcType="CHAR" />
			<result column="total" property="total" jdbcType="DECIMAL" />
			<result column="status" property="status" jdbcType="INTEGER" />
			<result column="address" property="address" jdbcType="VARCHAR" />
			<result column="uid" property="uid" jdbcType="CHAR" />
		</association>
	</resultMap>
	
	<resultMap type="povos.OrderPovo" id="OrderPovoMap"  extends="BaseResultMap">
		<collection property="orderitems"  ofType="com.jiaming.entity.Orderitem">
			<id column="orderitemId" property="orderitemid" jdbcType="CHAR" />
		    <result column="quantity" property="quantity" jdbcType="INTEGER" />
		    <result column="subtotal" property="subtotal" jdbcType="DECIMAL" />
		    <result column="bid" property="bid" jdbcType="CHAR" />
		    <result column="bname" property="bname" jdbcType="VARCHAR" />
		    <result column="currPrice" property="currprice" jdbcType="DECIMAL" />
		    <result column="image_b" property="imageB" jdbcType="VARCHAR" />
		    <result column="oid" property="oid" jdbcType="CHAR" />
			
		</collection>
	</resultMap>
	<select id="selectOrdersByUid"  resultMap="OrderPovoMap">
		select  *  from   `order`  where   uid =#{uid}
	</select>

  <resultMap id="BaseResultMap" type="com.jiaming.entity.Order">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    <id column="oid" jdbcType="CHAR" property="oid" />
    <result column="ordertime" jdbcType="CHAR" property="ordertime" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="uid" jdbcType="CHAR" property="uid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    delete from order
    where oid = #{oid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jiaming.entity.Order">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    <selectKey order="BEFORE" resultType="string"  keyProperty="oid">
			select  replace(uuid(),"-" ,"") from  dual
	</selectKey>
		insert into `order` (oid, ordertime, total,
		status, address, uid)
		values (#{oid,jdbcType=CHAR}, #{ordertime,jdbcType=CHAR},
		#{total,jdbcType=DECIMAL},
		#{status,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{uid,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jiaming.entity.Order">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    update order
    set ordertime = #{ordertime,jdbcType=CHAR},
      total = #{total,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=CHAR}
    where oid = #{oid,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    select oid, ordertime, total, status, address, uid
    from order
    where oid = #{oid,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="OrderPovoMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 23 15:02:12 CST 2020.
    -->
    SELECT   *  FROM  `order`
  </select>
</mapper>